[submodule "gedit-advancedfind"]
	path = gedit-advancedfind
	url = ssh+git://aur@aur.archlinux.org/gedit-advancedfind.git/
[submodule "grub2-theme-archlinux"]
	path = grub2-theme-archlinux
	url = ssh+git://aur@aur.archlinux.org/grub2-theme-archlinux.git/
[submodule "grub2-theme-archxion"]
	path = grub2-theme-archxion
	url = ssh+git://aur@aur.archlinux.org/grub2-theme-archxion.git/
[submodule "nano-syntax-highlighting-git"]
	path = nano-syntax-highlighting-git
	url = ssh+git://aur@aur.archlinux.org/nano-syntax-highlighting-git.git/
[submodule "tor-browser-pt"]
	path = tor-browser-pt
	url = ssh+git://aur@aur.archlinux.org/tor-browser-pt.git/
[submodule "vimix-icon-theme"]
	path = vimix-icon-theme
	url = ssh+git://aur@aur.archlinux.org/vimix-icon-theme.git/
[submodule "connman-gtk"]
	path = connman-gtk
	url = ssh+git://aur@aur.archlinux.org/connman-gtk
[submodule "keepass-plugin-keesecuritycheck"]
	path = keepass-plugin-keesecuritycheck
	url = ssh+git://aur@aur.archlinux.org/keepass-plugin-keesecuritycheck.git
[submodule "grub2-theme-preview"]
	path = grub2-theme-preview
	url = ssh+git://aur@aur.archlinux.org/grub2-theme-preview.git
[submodule "keepass-plugin-simpledatabasebackup"]
	path = keepass-plugin-simpledatabasebackup
	url = ssh+git://aur@aur.archlinux.org/keepass-plugin-simpledatabasebackup.git
[submodule "keepass-pt"]
	path = keepass-pt
	url = ssh+git://aur@aur.archlinux.org/keepass-pt.git
[submodule "mconnect-git"]
	path = mconnect-git
	url = ssh+git://aur@aur.archlinux.org/mconnect-git.git
[submodule "keepass-plugin-quicksearch"]
	path = keepass-plugin-quicksearch
	url = ssh+git://aur@aur.archlinux.org/keepass-plugin-quicksearch.git
[submodule "keepass-plugin-qualityhighlighter"]
	path = keepass-plugin-qualityhighlighter
	url = ssh+git://aur@aur.archlinux.org/keepass-plugin-qualityhighlighter.git
